@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Ms+Madi&display=swap');

$mapa:(colorprincipal:rgb(204, 17, 17),
    colorsecundario:black,
    colorfuente:white,
    anchoproducto1:300px);

$sizeredes:50px;

@mixin dimensioncohes {
    width: 320px;
    height: 260px;
}

@mixin dimensionpromociones {
    width: 260px;
    height: 220px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kanit', sans-serif;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-thumb {
    background: map-get($mapa, colorprincipal);
    border-radius: 50px;
}

body::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(map-get($mapa, colorsecundario), map-get($mapa, colorprincipal) 70%, map-get($mapa, colorsecundario));
}

.navbar {
    background-image: linear-gradient(map-get($mapa, colorsecundario), map-get($mapa, colorprincipal) 50%);

    .logobs {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    .logobs {
        animation: rotation 7s infinite linear;
    }

    @keyframes rotation {
        from {
            transform: rotatey(0deg);
        }

        to {
            transform: rotatey(360deg);
        }
    }

    .narvarcolapsebs {
        justify-content: right;
        font-weight: bold;
    }
}

.portadas {
    background-color: map-get($mapa, colorsecundario);

    img {
        width: 74%;
        margin-left: 13%;
        height: 20%;
    }
}

.indicadores {
    li {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: map-get($mapa, colorprincipal);
    }
}

.portadas {

    p {
        color: map-get($mapa, colorprincipal);
    }

    h3 {
        color: map-get($mapa, colorprincipal);
    }
}

.tablas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    padding-top: 3px;
    margin-top: 30px;
    padding: 15px;

    .producto1 {
        width: map-get($mapa, anchoproducto1);
        transition: transform .2s;
        margin-bottom: 40px;

        .producto {
            @include dimensionpromociones;

        }
    }

    .producto1:hover {
        transform: scale(1.2);
    }
}

.itemescala {
    transition: transform .2s;
}

.caracteristicasbs {
    padding: 25px;
    background-image: linear-gradient(map-get($mapa, colorsecundario), map-get($mapa, colorprincipal) 70%, map-get($mapa, colorsecundario));
    display: flex;
    text-align: center;
    margin-bottom: 30px;

    h3,
    p {
        color: map-get($mapa, colorfuente);
    }
}

h1 {
    color: map-get($mapa, colorsecundario);
}

h2 {
    color: map-get($mapa, colorsecundario);
}

h1::first-letter {
    color: map-get($mapa, colorprincipal);
    font-size: 120%;
}

h2::first-letter {
    color: map-get($mapa, colorprincipal);
    font-size: 120%;
}

.tablaProductos {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    padding: 15px;

    .producto1 {
        width: 300px;
        transition: transform .2s;
        margin-bottom: 40px;

        .producto {
            @include dimensionpromociones;
        }
    }

    .producto1:hover,
    .itemescala:hover {
        transform: scale(1.2);
    }
}

.contenidoFinal {
    width: 100%;
    color: map-get($mapa, colorfuente);
    background-image: linear-gradient(45deg, map-get($mapa, colorprincipal) 20%, map-get($mapa, colorsecundario));

    .menuInferior {
        padding: 40px 0px 0px 40px;

        a {
            color: map-get($mapa, colorfuente);
        }
    }

    .mapa {
        padding: 4px;
    }

    .sobreSevenToys {
        padding: 40px 10px;
        text-align: center;
    }

    .contacto {
        padding: 20px 10px 0px 10px;
        height: 200px;
        text-align: center;

        .redes {
            bottom: 0;
            right: 0%;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .logoRedes {
                width: $sizeredes;
                height: $sizeredes;
                transition: transform .3s;
                margin-top: 10px;
            }

            .logoRedes:hover {
                transform: scale(1.5);
            }

            .volver {
                border: solid map-get($mapa, colorfuente) 2px;
                border-radius: 10px;
                padding: 10px;
                color: map-get($mapa, colorfuente);
                font-size: 15px;
                text-decoration: none;
                margin-top: 10px;
            }

            a:hover {
                background-color: rgba(255, 255, 5255, 0.5);
            }

            .whatsapp {
                position: fixed;
                text-align: center;
                color: map-get($mapa, colorprincipal);
                font-weight: bold;
                font-size: 20px;
                top: 250px;
                right: 20px;
                z-index: 10;
            }

            .whatsapp:hover {
                .conta {
                    height: auto;
                }
            }

        }
    }
}

/*autos*/

.seleccion {
    margin-top: 30px;
    height: 50px;
}

.coches {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 440px 440px 440px 470px;
    text-align: center;
    overflow: hidden;

    .itemescala {
        transition: transform .2s;
    }

    .itemescala:hover {
        transform: scale(1.2);
    }

    img {
        @include dimensioncohes;
        margin-top: 10%;

    }

    p::after {
        content: " Pesos Col";
    }
}

/*figuras*/

.figurasbs p::after {
    content: " Pesos Col";
}

.cardsbs {
    padding: 20px;

    .figura1bs {
        padding: 20px;
        text-align: center;

        .card-body {
            transition: transform .2s;

            .botonbs {
                background-color: map-get($mapa, colorprincipal);
                border-color: map-get($mapa, colorprincipal);
            }
        }

        .card-body:hover {
            transform: scale(1.2);
        }
    }
}

/*contacto*/

.jumbotron {
    background-image: url(images/imagenes/jumbotron.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    font-size: 20px;
    color: map-get($mapa, colorfuente);
    padding-top: 7%;

    p::after {
        content: " Manejamos envíos a todo el territorio nacional. Los costos y tiempos de envío dependerán del lugar de destino ya descritos en la pagina";
    }
}

.formulario {
    background-color: map-get($mapa, colorsecundario);
    padding: 10px 40px;
    border-radius: 5px;
    margin: 50px auto;
    width: 60%;
    height: 810px;
    color: map-get($mapa, colorfuente);

    .campo_form {
        width: 100%;
        border: none;
        outline: none;
        background: none;
        border-bottom: 1px solid map-get($mapa, colorprincipal);
        padding: 10px;
        color: map-get($mapa, colorfuente);
    }

    .notificacion {
        color: white;
        background-color: map-get($mapa, colorprincipal);
        width: 100%;
        height: 35px;
        border: none;
        padding: 5px;
        margin-top: 20px;
        font-size: 20px;
        transition: height 1s;
    }

    .notificacion:hover {
        height: 50px;
    }

    .opcion {
        color: map-get($mapa, colorfuente);
        background-color: map-get($mapa, colorsecundario);
    }

}

/*preguntas*/

.preguntas {
    margin-top: 50px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 50%, rgb(204, 17, 17, 0.5)), url(../images/imagenes/fondo.jpg);
    height: 520px;

    h2 {
        text-align: center;
    }

    h4 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 30px;
    }

    h4::first-letter {
        color: map-get($mapa, colorprincipal);
    }

    .pregunta1 {
        height: 40px;
        overflow: hidden;
        margin-top: 20px;
        cursor: pointer;

        .respuesta {
            background-color: map-get($mapa, colorfuente);
        }
    }

    .pregunta1:hover {
        height: auto;
        overflow: visible;
    }
}

@media only screen and (max-width: 1215px) {
    .inicio {
        grid-template-columns: 1fr 2fr;
    }

    .navegacion {
        grid-column: 2/3;
    }
}

@media only screen and (max-width: 983px) {

    .coches img,
    .figuras img {
        height: 200px;
        width: 240px;
    }

    .coches {
        grid-template-rows: 350px 350px 350px 370px;
    }

    .formulario {
        width: 90%;
    }
}

@media only screen and (max-width: 770px) {
    .menuInferior {
        text-align: center;

        li {
            list-style: none;
        }
    }
}


@media only screen and (max-width: 742px) {

    .coches {
        grid-template-rows: 350px 350px 350px 350px 350px 380px;
    }

    .coches,
    .figuras {
        grid-template-columns: repeat(2, 1fr);
    }

    .coches img,
    .figuras img {
        height: 190px;
        width: 250px;
    }

    .textoImagen {
        grid-column: 1/3;
    }
}

@media only screen and (max-width: 702px) {
    .navegacion2 {
        display: none;
    }

    .menu2 {
        display: inline;
    }
}

@media only screen and (max-width: 580px) {
    .caracteristicas {
        height: 500px;
    }
    .preguntas{
        height: 580px;
    }
}

@media only screen and (max-width: 506px) {

    .coches,
    .figuras {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 470px);
    }

    .redes {
        flex-wrap: wrap;
    }

    .coches img,
    .figuras img {
        width: 330px;
        height: 270px;
    }

    .textoImagen h2 {
        font-size: 25px;
    }
}