@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Ms+Madi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Ms+Madi&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Kanit", sans-serif;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-thumb {
  background: rgb(204, 17, 17);
  border-radius: 50px;
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(black, rgb(204, 17, 17) 70%, black);
}

.navbar {
  background-image: linear-gradient(black, rgb(204, 17, 17) 50%);
}
.navbar .logobs {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.navbar .logobs {
  animation: rotation 7s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotatey(0deg);
  }
  to {
    transform: rotatey(360deg);
  }
}
.navbar .narvarcolapsebs {
  justify-content: right;
  font-weight: bold;
}

.portadas {
  background-color: black;
}
.portadas img {
  width: 74%;
  margin-left: 13%;
  height: 20%;
}

.indicadores li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(204, 17, 17);
}

.portadas p {
  color: rgb(204, 17, 17);
}
.portadas h3 {
  color: rgb(204, 17, 17);
}

.tablas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  padding-top: 3px;
  margin-top: 30px;
  padding: 15px;
}
.tablas .producto1 {
  width: 300px;
  transition: transform 0.2s;
  margin-bottom: 40px;
}
.tablas .producto1 .producto {
  width: 260px;
  height: 220px;
}
.tablas .producto1:hover {
  transform: scale(1.2);
}

.itemescala {
  transition: transform 0.2s;
}

.caracteristicasbs {
  padding: 25px;
  background-image: linear-gradient(black, rgb(204, 17, 17) 70%, black);
  display: flex;
  text-align: center;
  margin-bottom: 30px;
}
.caracteristicasbs h3, .caracteristicasbs p {
  color: white;
}

h1 {
  color: black;
}

h2 {
  color: black;
}

h1::first-letter {
  color: rgb(204, 17, 17);
  font-size: 120%;
}

h2::first-letter {
  color: rgb(204, 17, 17);
  font-size: 120%;
}

.tablaProductos {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  padding: 15px;
}
.tablaProductos .producto1 {
  width: 300px;
  transition: transform 0.2s;
  margin-bottom: 40px;
}
.tablaProductos .producto1 .producto {
  width: 260px;
  height: 220px;
}
.tablaProductos .producto1:hover,
.tablaProductos .itemescala:hover {
  transform: scale(1.2);
}

.contenidoFinal {
  width: 100%;
  color: white;
  background-image: linear-gradient(45deg, rgb(204, 17, 17) 20%, black);
}
.contenidoFinal .menuInferior {
  padding: 40px 0px 0px 40px;
}
.contenidoFinal .menuInferior a {
  color: white;
}
.contenidoFinal .mapa {
  padding: 4px;
}
.contenidoFinal .sobreSevenToys {
  padding: 40px 10px;
  text-align: center;
}
.contenidoFinal .contacto {
  padding: 20px 10px 0px 10px;
  height: 200px;
  text-align: center;
}
.contenidoFinal .contacto .redes {
  bottom: 0;
  right: 0%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contenidoFinal .contacto .redes .logoRedes {
  width: 50px;
  height: 50px;
  transition: transform 0.3s;
  margin-top: 10px;
}
.contenidoFinal .contacto .redes .logoRedes:hover {
  transform: scale(1.5);
}
.contenidoFinal .contacto .redes .volver {
  border: solid white 2px;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-size: 15px;
  text-decoration: none;
  margin-top: 10px;
}
.contenidoFinal .contacto .redes a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.contenidoFinal .contacto .redes .whatsapp {
  position: fixed;
  text-align: center;
  color: rgb(204, 17, 17);
  font-weight: bold;
  font-size: 20px;
  top: 250px;
  right: 20px;
  z-index: 10;
}
.contenidoFinal .contacto .redes .whatsapp:hover .conta {
  height: auto;
}

/*autos*/
.seleccion {
  margin-top: 30px;
  height: 50px;
}

.coches {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 440px 440px 440px 470px;
  text-align: center;
  overflow: hidden;
}
.coches .itemescala {
  transition: transform 0.2s;
}
.coches .itemescala:hover {
  transform: scale(1.2);
}
.coches img {
  width: 320px;
  height: 260px;
  margin-top: 10%;
}
.coches p::after {
  content: " Pesos Col";
}

/*figuras*/
.figurasbs p::after {
  content: " Pesos Col";
}

.cardsbs {
  padding: 20px;
}
.cardsbs .figura1bs {
  padding: 20px;
  text-align: center;
}
.cardsbs .figura1bs .card-body {
  transition: transform 0.2s;
}
.cardsbs .figura1bs .card-body .botonbs {
  background-color: rgb(204, 17, 17);
  border-color: rgb(204, 17, 17);
}
.cardsbs .figura1bs .card-body:hover {
  transform: scale(1.2);
}

/*contacto*/
.jumbotron {
  background-image: url(images/imagenes/jumbotron.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  font-size: 20px;
  color: white;
  padding-top: 7%;
}
.jumbotron p::after {
  content: " Manejamos envíos a todo el territorio nacional. Los costos y tiempos de envío dependerán del lugar de destino ya descritos en la pagina";
}

.formulario {
  background-color: black;
  padding: 10px 40px;
  border-radius: 5px;
  /*position: relative;
  top: 20px;
  left: 20%;*/
  margin: 50px auto;
  width: 60%;
  height: 810px;
  color: white;
}
.formulario .campo_form {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid rgb(204, 17, 17);
  padding: 10px;
  color: white;
}
.formulario .notificacion {
  color: white;
  background-color: rgb(204, 17, 17);
  width: 100%;
  height: 35px;
  border: none;
  padding: 5px;
  margin-top: 20px;
  font-size: 20px;
  transition: height 1s;
}
.formulario .notificacion:hover {
  height: 50px;
}
.formulario .opcion {
  color: white;
  background-color: black;
}

/*preguntas*/
.preguntas {
  margin-top: 50px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 50%, rgba(204, 17, 17, 0.5)), url(../images/imagenes/fondo.jpg);
  height: 520px;
}
.preguntas h2 {
  text-align: center;
}
.preguntas h4 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
}
.preguntas h4::first-letter {
  color: rgb(204, 17, 17);
}
.preguntas .pregunta1 {
  height: 40px;
  overflow: hidden;
  margin-top: 20px;
  cursor: pointer;
}
.preguntas .pregunta1 .respuesta {
  background-color: white;
}
.preguntas .pregunta1:hover {
  height: auto;
  overflow: visible;
}

@media only screen and (max-width: 1215px) {
  .inicio {
    grid-template-columns: 1fr 2fr;
  }

  .navegacion {
    grid-column: 2/3;
  }
}
@media only screen and (max-width: 983px) {
  .coches img,
.figuras img {
    height: 200px;
    width: 240px;
  }

  .coches {
    grid-template-rows: 350px 350px 350px 370px;
  }

  .formulario {
    width: 90%;
  }
}
@media only screen and (max-width: 770px) {
  .menuInferior {
    text-align: center;
  }
  .menuInferior li {
    list-style: none;
  }
}
@media only screen and (max-width: 742px) {
  .coches {
    grid-template-rows: 350px 350px 350px 350px 350px 380px;
  }

  .coches,
.figuras {
    grid-template-columns: repeat(2, 1fr);
  }

  .coches img,
.figuras img {
    height: 190px;
    width: 250px;
  }

  .textoImagen {
    grid-column: 1/3;
  }
}
@media only screen and (max-width: 702px) {
  .navegacion2 {
    display: none;
  }

  .menu2 {
    display: inline;
  }
}
@media only screen and (max-width: 580px) {
  .caracteristicas {
    height: 500px;
  }
}
@media only screen and (max-width: 506px) {
  .coches,
.figuras {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 470px);
  }

  .redes {
    flex-wrap: wrap;
  }

  .coches img,
.figuras img {
    width: 330px;
    height: 270px;
  }

  .textoImagen h2 {
    font-size: 25px;
  }
}

/*# sourceMappingURL=estilos.css.map */
